@model AVITAT.Modelos.Ave
@using AVITAT.Utilidades

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Ave";
}

 <form method="post" enctype="multipart/form-data">
   <div class="row">
    <div class="col-8">

        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>

        @if (Model.Id != 0)
        {
            //Actualizar
            titulo = "Actualizar Ave";
            <input type="hidden" asp-for="Id" id="id" />
            <input asp-for="ImagenUrl" hidden />
        }

        <div class="col border-bottom p-0">
            <h2 class="text-primary">@titulo</h2>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Nombre</label>
                <input type="text" asp-for="NombreComun" class="form-control" placeholder="Nombre de la Ave" id="nombre" />
                <span asp-validation-for="NombreComun" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Nombre Cientifico</label>
                <input type="text" asp-for="NombreCientifico" class="form-control" placeholder="Nombre Cientifico de la Ave" />
                <span asp-validation-for="NombreCientifico" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Tipo</label>
                <select asp-for="Tipo" class="form-select">
                    <option hidden select> Selecciona una opcion </option>
                    <option>Endemicas</option>
                    <option>Nativas</option>
                    <option>Introducidas</option>
                </select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Descripcion</label>
                <input type="text" asp-for="Descripcion" class="form-control" placeholder="Descripcion de la Ave" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Imagen</label>
                <input type = "file" accept="image/png, image/gif, image/jpeg" name="files" id="imagenId" class="form-control"/>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
        </div>

        <br/>

        <div>
            @if(Model.Id != 0)
            {
                <partial name="_BotonesActualizarYRegresar" model="Model.Id" />
            }
            else
            {
                    <button type="submit" onclick="return validarImagen()" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Crear</button>
                    <a asp-action="Index" class="btn btn-success"><i class="bi bi-arrow-return-left"></i> Regresar</a>
                
            }
        </div>

    </div>
    <div class="col-4">

            @if (Model.Id != 0)
            {
                <img src="@DS.ImagenRuta@Model.ImagenUrl" width="100%" style="border-radius:5px; border:1px solid #bbb" />
            }

    </div>
  </div>

</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>

        document.getElementById("nombre").addEventListener('change',function(){
        
            validarNombre();

        });

        function validarNombre()
        {
            var url = '@Url.Content("~/")' + "Admin/Ave/ValidarNombre";
            var id = '#id';
            var nombre = '#nombre';

            $.getJSON(url, {id: $(id).val(), nombre: $(nombre).val()},function(data){
                $.each(data, function(key, value) {
                    if(value) {
                        var nombre = document.getElementById("nombre");
                        swal("Error", "Nombre ya existe","error");
                        nombre.value="";
                    }
                });
            })
        }

        function validarImagen(){
            if(document.getElementById("imagenId").value=="")
            {
                swal("Error","Seleccion una Imagen!","error")
                return false;
            }
            return true;
        }

    </script>

}
 
