
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" >
    <div class="col-lg-6" >
        <h2 class="text-primary">Listas de Reservas Naturales</h2>
    </div>
    <div class="col-lg-6" >
        <a class="btn btn-outline-primary" asp-action="Upsert"> <i class="bi bi-plus-circle"></i> Nueva </a>
    </div>
</div>

<br />

<div class="p-4 border rounded bg-light">
    <table id="tblDatos" class="table table-responsive table-hover">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Ubicacion</th>
                <th>Acceso</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/ReservaNatural.js">    </script>

}

